@using GamerShop.Services
@model GamerShop.Models.PaginatorViewModel<GamerShop.Models.PcBuild.BuildsIndexViewModel>

@{
    Layout = "_PcBuildLayout";
}

<div>
    <h2>Все сборки</h2>
</div>

@{
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var build in Model.Items)
        {
            <div class="col">
                <div class="card h-100 border-dark mb-3">
                    <img src="~/img/PCBuild/example.jpg" class="card-img-top" alt="aaa">
                    <div class="card-body text-dark">
                        <h5 class="card-title">@build.BuildName</h5>
                        <p class="card-text">@build.UserName</p>
                        <p class="card-text">@build.Processor</p>
                        <p class="card-text">@build.GPU</p>
                        @Html.ActionLink("","Build", "PcBuild", new { id = build.Id }, new { @class = "stretched-link" })
                    </div>
                    <div class="card-footer container">
                        <div class="row">
                            <small class="text-muted col-6 col-sm-8 col-md-6 col-lg-6">@build.Price рублей</small>
                            <small class="text-muted col-1 col-sm-1 col-md-1 col-lg-1">
                                <a class="stretched-link follow-button text-decoration-none text-reset" asp-area="" asp-controller="PcBuild" asp-action="Follow">
                                    <i class="fi fi-rr-arrow-up"></i>
                                </a>
                            </small>
                            <small class="text-muted col-4 col-sm-3 col-md-4 col-lg-4">@build.Rating</small>
                            <small class="text-muted col-1 col-sm-1 col-md-1 col-lg-1">
                                <a class="stretched-link follow-button text-decoration-none text-reset" asp-area="" asp-controller="PcBuild" asp-action="CreateBuild">
                                    <i class="fi fi-rr-arrow-down"></i>
                                </a>
                            </small>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @foreach (var pageNumber in Model.AvailablePages)
            {
                <li class="page-item"><a class="page-link @(Model.Page == pageNumber ? "active" : "")" href="Index?page=@pageNumber">@pageNumber</a></li> 
            }
        </ul>
    </nav> 
}